@{
    ViewBag.Title = "CMR Trend Report";
    Layout = "~/Views/Shared/NewMaster.cshtml";
}


<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery UI Tabs - Default functionality</title>
@*<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">*@
    <style>

        .CSSDropDownList {

    width: 130px;
}
    </style>
<script type="text/javascript">
    $(document).ready(function () {
        var Period, PeriodYear, Sector, Location, ContingentType;
        $(function () {
            $("#tabs").tabs();
        });
    
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetPeriodYearGraph_CMRTrend")',
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSColumn2D.swf")', "Period Year Details", "350", "320");
                chart.setDataXML(data);
                  chart.render("PeriodYearGraph");

            },
            async: false,
            dataType: "text"
        });
        $('#CMRTrendJQGrid').jqGrid({

            url: '@Url.Content("~/Dashboard/CMRTrendJQGrid")',
            type: 'GET',
            datatype: 'json',
            width: 1190,
            height: 225,
            colNames: ['OrderId', 'ControlId', 'Sector', 'ContingentType', 'Location', 'Week', 'Authorized CMR', 'Order CMR', 'Accepted CMR'],
            colModel: [
                        { name: 'OrderId', index: 'OrderId', key: true, hidden: true, editable: true },
                        { name: 'ControlId', index: 'ControlId', width: 400 },
                        { name: 'Sector', index: 'Sector' },
                        { name: 'ContingentType', index: 'ContingentType' },
                        { name: 'Location', index: 'Location' },
                        { name: 'Week', index: 'Week' },

                        { name: 'Authorizedcmr', index: 'Authorizedcmr', search: false },
                        { name: 'Ordercmr', index: 'Ordercmr', search: false },
                        { name: 'Acceptedcmr', index: 'Acceptedcmr', search: false }

            ],
            pager: '#CMRTrendJQGridPager',
            rowNum: '10000',
            sortname: 'OrderId',
            sortorder: "Asc",
            viewrecords: true,
            //footerrow: true,
            caption: '&nbsp;<i class="icon-th-list"></i>&nbsp;troops List',
            loadComplete: function () {
                debugger;
                var $self = $(this),
                  Total = parseFloat($self.jqGrid("getCol", "Troops", false, "sum")).toFixed(2);
                //                discount = parseFloat($self.jqGrid("getCol", "Discount", false, "sum")).toFixed(2);
                //                amtrcv = parseFloat($self.jqGrid("getCol", "AmountReceived", false, "sum")).toFixed(2);
                //                balpay = parseFloat($self.jqGrid("getCol", "BalancePayable", false, "sum")).toFixed(2);
                $self.jqGrid("footerData", "set", { Period: "Total Troops", Troops: Total });
            }


        });
        $("#CMRTrendJQGrid").navGrid('#CMRTrendJQGridPager', { add: false, edit: false, del: false, search: false, refresh: false });
        $("#CMRTrendJQGrid").jqGrid('navButtonAdd', '#CMRTrendJQGridPager', {
            caption: "Export To Excel",
            onClickButton: function () {

                var ExptType = 'Excel';
                var searchItems = $('#Sector').val() + ',' + $('#Location').val() + ',' + $('#contingentType').val() + ',' + $('#Contingent').val() + ',' + $('#PeriodYear').val() + ',' + $('#Period').val() + ',' + $('#Week').val();
                window.open("CMRTrendJQGrid" + '?searchItems=' + searchItems + '&ExptType=' + ExptType + '&rows=9999' + '&sidx=' + '&sord=desc' + '&page=1');
            }
        });



    });
    $(function () {
        FillSector();
        FillContingent();
        //FillPeriod();
        FillLocation();
        FillWeek();
        FillPeriodYear();

        $("#Sector").change(function () {
            FillContingent($(this).val());
        });
        $("#Contingent").change(function () {
            FillLocation($("#Sector").val(), $(this).val());

            var Contigent = $("#Contingent").val();
            if (Contigent != "") {
                var result = Contigent.indexOf("FPU") > -1;
                if (result == true) {
                    $("#contingentType").val("FPU");
                }
                else
                    $("#contingentType").val("MIL")
            }
        });
        $("#PeriodYear").change(function () {
            FillPeriod();
        });
        $("#Period").change(function () {
            FillWeek($("#Period").val(), $("#PeriodYear").val());
        });
        //        $("#Week").change(function () {
        //            FillPeriod($(this).val());
        //        });
    });
    function FillSector() {
        $.getJSON('@Url.Content("~/Masters/FillSectorbyUser/")',
    function (modelData) {
        var select = $("#Sector");
        select.empty();
        select.append($('<option/>',
    {
        value: "",
        text: "Select Sector"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }
    function FillContingent(SectorCode) {
        $.getJSON('@Url.Content("~/Masters/FillContingentbyUser")?SectorCode=' + SectorCode,
    function (modelData) {
        var select = $("#Contingent");
        select.empty();
        select.append($('<option/>'
    , {
        value: "",
        text: "Select Contingent"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }

    function FillLocation(SectorCode, ContingentCode) {
        $.getJSON('@Url.Content("~/Masters/FillLocationbyUser")?SectorCode=' + SectorCode + '&ContingentCode=' + ContingentCode,
    function (modelData) {
        var select = $("#Location");
        select.empty();
        select.append($('<option/>'
    , {
        value: "",
        text: "Select Location"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }

    function FillPeriod() {
        $.getJSON('@Url.Content("~/Masters/FillPeriod/")',
    function (modelData) {
        var select = $("#Period");
        select.empty();
        select.append($('<option/>'
    , {
        value: "",
        text: "Select Period"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }

    function FillWeek(Period, PeriodYear) {

        $.getJSON('@Url.Content("~/Masters/FillWeek")?Period=' + Period + "&PeriodYear=" + PeriodYear,
    function (modelData) {
        var select = $("#Week");
        select.empty();
        select.append($('<option/>'
    , {
        value: "",
        text: "Select Week"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }
    function OrderItemsSearch() {


        var searchItems = $('#Sector').val() + ',' + $('#Location').val() + ',' + $('#contingentType').val() + ',' + $('#Contingent').val() + ',' + $('#PeriodYear').val() + ',' + $('#Period').val() + ',' + $('#Week').val();
        $("#CMRTrendJQGrid").setGridParam(
            {
                datatype: "json",
                url: '@Url.Content("~/Dashboard/CMRTrendJQGrid")?searchItems=' + searchItems,
                //                url: '/Reports/ConsolidateInvoicejqGrid',
                //                postData: { Sector: Sector, ContingentType: contingentType, Name: Contingent, Period: Period },
                page: 0
            }).trigger("reloadGrid");
    }
    function ResetSearch() {
        var searchItems = "";
        $('#Sector').val(0);
        $('#Contingent').val(0);
        $('#contingentType').val("");
        $('#Period').val(0);
        $('#Week').val(0);
        $("#OrderItems").setGridParam(
            {
                datatype: "json",
                url: '@Url.Content("~/Reports/CMRTrendJQGrid")?searchItems=' + searchItems,
                //                url: '/Reports/ConsolidateInvoicejqGrid',
                postData: { Sector: Sector, ContingentType: contingentType, Name: Contingent, Period: Period, Week: Week },
                page: 0
            }).trigger("reloadGrid");
    }

    function FillPeriodYear() {
        $.getJSON('@Url.Content("~/Masters/FillPeriodYear")',
    function (modelData) {
        var select = $("#PeriodYear");
        select.empty();
        select.append($('<option/>'
    , {
        value: "",
        text: "Select Year"
    }));
        $.each(modelData, function (index, itemData) {

            select.append($('<option/>',
    {
        value: itemData.Value,
        text: itemData.Text
    }));
        });
    });
    }

    function MCClickEvent(Periodyear) {
        debugger;

        $('#SectorNorth').hide();
        $('#SectorSouth').hide();
        $('#SectorWest').hide();
        $('#LocationGraph').hide();
        $('#ContingentGraph').hide();
        $('#WeekGraph').hide();
        PeriodGraph(Periodyear);


        // PeriodGraph('13-14');


    }
    function PeriodGraph(Periodyear) {
        debugger;
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetPeriodGraph_CMRTrendReport")?PeriodYear=' + Periodyear,
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSColumn2D.swf")', "Period Graph Details", "800", "320");
                chart.setDataXML(data);
                 chart.render("PeriodGraph");
            },
            async: false,
            dataType: "text"
        });
    }
    function PeriodSelection(Criteria) {
        $('#SectorSouth').show();
        $('#SectorWest').show();
        $('#SectorNorth').show();

        $('#LocationGraph').hide();
        $('#ContingentGraph').hide();
        $('#WeekGraph').hide();


        SectorNorth_QtyGraph(Criteria);
        SectorSouth_QtyGraph(Criteria);
        SectorWest_QtyGraph(Criteria);


    }

    function SectorNorth_QtyGraph(Criteria) {

        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetSectorGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=SN',
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSBar2D.swf")', "Period Graph Details", "380", "320");
                chart.setDataXML(data);
                chart.render("SectorNorth");
            },
            async: false,
            dataType: "text"
        });
    }

    function SectorSouth_QtyGraph(Criteria) {

        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetSectorGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=SS',
            success: function (data) {
                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSBar2D.swf")', "Period Graph Details", "380", "320");
                chart.setDataXML(data);
                 chart.render("SectorSouth");
            },
            async: false,
            dataType: "text"
        });
    }

    function SectorWest_QtyGraph(Criteria) {

        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetSectorGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=SW',
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSBar2D.swf")', "Period Graph Details", "380", "320");
                chart.setDataXML(data);
                chart.render("SectorWest");
            },
            async: false,
            dataType: "text"
        });
    }

    function SectorConttypeSelection(Criteria) {
        $('#LocationGraph').show();
        $('#ContingentGraph').hide();
        $('#WeekGraph').hide();
        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetLocationGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=' + Criteria[2] + '&ContingentType=' + Criteria[3],
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSColumn2D.swf")', "Period Graph Details", "1150", "320");
                chart.setDataXML(data);
                chart.render("LocationGraph");
            },
            async: false,
            dataType: "text"
        });

    }

    function LocationSelection(Criteria) {
        $('#ContingentGraph').show();
        $('#WeekGraph').hide();
        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetContingentGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=' + Criteria[2] + '&ContingentType=' + Criteria[3] + '&Location=' + Criteria[4],
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSColumn2D.swf")', "Period Graph Details", "1150", "320");
                chart.setDataXML(data);
                chart.render("ContingentGraph");
            },
            async: false,
            dataType: "text"
        });


    }

    function ContingentSelection(Criteria) {
        $('#WeekGraph').show();
        Criteria = Criteria.split(',');
        $.ajax({
            type: 'Get',
            url: '@Url.Content("~/Dashboard/GetWeekGraph_CMRTrendReport")?PeriodYear=' + Criteria[0] + '&Period=' + Criteria[1] + '&Sector=' + Criteria[2] + '&ContingentType=' + Criteria[3] + '&Location=' + Criteria[4] + '&Contingent=' + Criteria[5],
            success: function (data) {

                var chart = new FusionCharts('@Url.Content("~/Charts/FCF_MSColumn2D.swf")', "Period Graph Details", "700", "320");
                chart.setDataXML(data);
                  chart.render("WeekGraph");
            },
            async: false,
            dataType: "text"
        });


    }
</script>
</head>
<body>
<div id="tabs">
<ul>
<li><a href="#tabs-1">CMR Trend Report</a></li>
<li><a href="#tabs-2">CMR Trend Chart</a></li>

</ul>
<div id="tabs-1">
         <table class="WithBorderOnly" width="100%">
            <tr class="PanelHeading">
                <td colspan="8" class="PanelHeading">
                    <i class="icon-chevron-right"></i>&nbsp;Search&nbsp;
                </td>
            </tr>
            <tr>
                <td>
                    <label class="lblheader">
                        Sector</label><br />
                    @Html.DropDownList("Sector", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Location</label><br />
                    @Html.DropDownList("Location", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Contingent Type</label><br />
                    @Html.DropDownList("contingentType", new SelectList(new[]
                                          {
                                              new{Value="",Text="Select One"},
                                              new{Value="FPU",Text="FPU"},
                                              new{Value="MIL",Text="MIL"}
                                          },
          "Value", "Text", ""), new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Contingent</label><br />
                    @Html.DropDownList("Contingent", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Period Year</label><br />
                    @Html.DropDownList("PeriodYear", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Period</label><br />
                    @Html.DropDownList("Period", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>
                <td>
                    <label class="lblheader">
                        Week</label><br />
                    @Html.DropDownList("Week", new SelectList(Enumerable.Empty<SelectListItem>()), "Select One", new { @Class = "CSSDropDownList" })
                </td>

                <td>
                    <input type="button" id="btnSearch" value="Search" onclick="OrderItemsSearch(); return false;" />
                    @*<input type="reset" id="btnReset"
                    value="Reset" onclick="ResetSearch(); return false;" />*@
                    @*<input type="button" id="search" value="Search" />
                    <input type="button" id="reset" value="Reset" />*@
                </td>
            </tr>
        </table>
        <table id="CMRTrendJQGrid"></table>
        <div id="CMRTrendJQGridPager"></div>
</div>
<div id="tabs-2">
@*    <div class="row"> 
        <div id="PeriodYearGraph"></div>
        <div id="PeriodGraph" ></div>
    </div>*@

      <table>
            <tr width="100%">
                <td colspan="1" >

                    <div id="PeriodYearGraph"></div>

                </td>
                <td colspan="2">
                    <div id="PeriodGraph"></div>
                </td>
            </tr>
            <tr width="100%">
                <td colspan="1"   >
                    <div id="SectorNorth">  </div>
                   
                   
                </td>
                <td colspan="1"  >
                    <div id="SectorSouth"> </div>
                </td>
                <td colspan="1"  >
                     <div id="SectorWest"></div>
                   
                </td>
            </tr>
            <tr><td colspan="3">
                <div id="LocationGraph"></div>
                    
                </td></tr>
            <tr><td colspan="3">
                <div id="ContingentGraph"></div>
                    
                </td></tr>
            <tr><td colspan="3"><div align="center" id="WeekGraph"></div></td></tr>
        </table>
</div>
</div>

</body>
</html>



