@model INSIGHT.Entities.User
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/AccountMaster.cshtml";
}
<script type="text/javascript" language="javascript">
    if ("@ViewBag.User" == "Deactivated") {
        ErrMsg("User Id is Deactivated.");
    }
    if ("@ViewBag.Message" == -1) {
        ErrMsg("User not exists for the given EmailId. Please provide the registered EmailId.");
    }
    if ("@ViewBag.PasswordSentMessage" == 1) {
        InfoMsg("Your Password has been sent to your Email Id", function () { window.location.href = '@Url.Action("LogOn", "Account")'; });
    }

    $(function () {
        $('#btnSubmit').click(function () {
            var email = $("#EmailId").val();
            if ($.trim(email).length == 0) {
                ErrMsg('EmailId is Mandatory.');
                return false;
            }
            validate(email);
            if ((validate(email)) == false) {
                ErrMsg('Invalid Email Address.');
                return false;
            }
        });
    });
</script>
@using (Html.BeginForm())
{
    <h2>
        Forgot Password</h2>
    <br />
    <table width="100%" class="InnerTable">
        <tr>
            <th width="5%">
                <label>
                    Email Id:</label>
            </th>
            <td>
                @Html.TextBoxFor(m => m.EmailId, new { @Class = "CSSTextBox" })
                 <span style="color: Red">*</span>
                @Html.ValidationMessageFor(m => m.EmailId)
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" id="btnSubmit" value="Submit" />
            </td>
        </tr>
    </table>
}